<h1>Register</h1>

<form>
    <div class="form-group has-danger">
        <label for="register_user">Username</label>
        <input type="text" class="form-control form-control-danger" id="register_user" placeholder="Username" ng-model="user.username">
    </div>
    <div class="form-group has-danger">
        <label for="register_user">Password</label>
        <input type="password" class="form-control form-control-danger" id="register_user" placeholder="Password" ng-model="user.password">
    </div>
    <div class="form-group has-danger">
        <label for="register_user">Email</label>
        <input type="email" class="form-control form-control-danger" id="register_user" placeholder="Email Addresss" ng-model="user.email">
    </div>
    <div class="form-group">
        <label for="register_user">First Name</label>
        <input type="text" class="form-control" id="register_user" placeholder="First Name" ng-model="user.first_name">
    </div>
    <div class="form-group">
        <label for="register_user">Last Name</label>
        <input type="text" class="form-control" id="register_user" placeholder="Last Name" ng-model="user.last_name">
    </div>
    <button class="btn btn-info" type="button" ng-click="register()">Register</button>
</form>